include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include configs *.yaml *.yml
recursive-include data/sample_configs *.yaml *.yml
recursive-include data/sample_images *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store